# every 2 hours clean db
0 */2 * * * /usr/bin/sqlite3 $HOME/monero.fail/data/sqlite.db 'VACUUM;'
0 */2 * * * /usr/bin/sqlite3 $HOME/monero.fail/data/sqlite.db 'PRAGMA wal_checkpoint(truncate);'

# every 10 minutes validate up to 50 pending nodes
*/10 * * * * sh -c "cd ~/monero.fail; ./manage.sh validate 2>&1 | tee -a ~/validate.log"

# every 10 minutes check up to 20 nodes
*/10 * * * * sh -c "cd ~/monero.fail; ./manage.sh check 2>&1 | tee -a ~/check.log"

# every day export nodes to list
20 0 * * * sh -c "cd ~/monero.fail; ./manage.sh export"

# every 30 minutes scrape p2p peers
*/30 * * * * sh -c "cd ~/monero.fail; ./manage.sh get_peers 2>&1 | tee -a ~/peers.log"

# every hour export offline list
0 * * * * sh -c "cd ~/monero.fail; ./manage.sh html; cp data/offline.html /var/www/monero.fail/index.html"