*/3 * * * * sh -c "cd ~/git/monero.fail; ./manage.sh validate"
30 */4 * * * sh -c "cd ~/git/monero.fail; ./manage.sh check"
0 0 * * * sh -c "cd ~/monero.fail; ./manage.sh export"
*/5 * * * * sh -c "cd ~/git/monero.fail; ./manage.sh get_peers"
