html {
    font-size: .8em;
}

.address {
    user-select: all; 
    word-wrap: anywhere;
}

.spacer {
    padding: 1em 0;
}

input[type="text"] {
    max-width: 70%;
}

#filters span {
    padding: .4em;
}

.donationAddress {
  font-size: .75em;
  color: #ff006e;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.glowing-green {
  background-color: #00cd00;
}

.glowing-red {
  background-color: #cd0000;
}

.filter-green {
  filter: invert(58%) sepia(20%) saturate(5505%) hue-rotate(67deg) brightness(101%) contrast(90%);
}

.filter-red {
  filter: invert(16%) sepia(59%) saturate(5380%) hue-rotate(333deg) brightness(79%) contrast(101%);
}

td {
    padding: 0 10px;
}

#footer {
    margin: 0 0 1em 0;
}

#nodeURL {
    min-width: 60%;
}

.map {
    height: 600px;
    margin: 2em;
    padding: 0;
}

.popover-body {
    min-width: 276px;
}

#loadingContainer {
    text-align: center;
    margin: 0 auto;
}

#selectedNode {
    background-color: rgba(0, 9, 187, 0.3);
}
