.center {
  text-align: center;
  margin: 0 auto;
}

.section {
  margin-bottom: 0em;
}

.btn {
  margin: .5em;
}

#footer {
  padding-top: 4em;
  padding-bottom: 4em;
}

input[type="text"] {
  width: 50%;
  text-align: center;
}

.flashes {
  padding-top: 1em;
  list-style-type: none;
  padding-left: 0px;
}

.search-btn {
  margin: 2em .5em 0 .5em;
}

.wownero {
  background-color: rgb(235, 74, 206);
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.glowing-green {
  background-color: #00cd00;
}

.glowing-red {
  background-color: #cd0000;
}

#node_url {
  margin: 0 auto;
}

.pure-table {
  margin: 0 auto;
}

.container2 {
  padding: 4em;
}

.page-btn {
  text-align: center;
}

.current-page-btn {
  background-color: #b8b8b8;
}

.xmrnodes {
  width: 95%;
  margin: auto;
  font-size: .83em;
}

#nodes {
  padding-top: 1em;
}

.filter-green {
  filter: invert(58%) sepia(20%) saturate(5505%) hue-rotate(67deg) brightness(101%) contrast(90%);
}

.filter-red {
  filter: invert(16%) sepia(59%) saturate(5380%) hue-rotate(333deg) brightness(79%) contrast(101%);
}

#filters {
  margin-top: 1em;
}

#filters span {
  margin: 1em;
}

.pure-button {
  /* filter: drop-shadow(6px 6px 0 #00e7e3); */
  /* filter: drop-shadow(6px 6px 0 #e70078); */
  box-shadow: 5px 5px 0 #00e7e3;
  margin: 1em 0 1em 0;
  cursor: pointer;
  transition: .1s ease all;
}

.pure-button:hover {
  transform: translate(4px, 10%);
  box-shadow: 1px 1px 0px #00e7e3;
  transition: .1s ease all;
  cursor: pointer;
}

.pure-pink {
  background-color: #e70078;
  box-shadow: 5px 5px 0 #f599c9;
  color: #f9f9f9;
}

.pure-pink:hover {
  background-color: #e70078;
  box-shadow: 1px 1px 0 #f599c9;
  color: #f9f9f9;
}

.pure-grey {
  box-shadow: 5px 5px 0 #b2d6f7;
}

.pure-grey:hover {
  box-shadow: 1px 1px 0 #b2d6f7;
}

.nodeURL {
  user-select: all;
}

td img {
  padding-right: .75em;
}