<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <meta property="og:image" content="https://www.getmonero.org/press-kit/symbols/monero-symbol-on-white-480.png" />
    <meta property="og:description" content="xmrnodes" />
    <meta property="og:url" content="https://monero.fail" />
    <meta property="og:title" content="XMR Nodes" />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-title" content="XMR Nodes">
    <meta name="application-name" content="XMR Nodes">
    <meta name="keywords" content="wownero, monero, xmr, bitmonero, cryptocurrency">
    <link rel="stylesheet" href="/static/css/oat.min.css">
    <link href="/static/css/main.css" rel="stylesheet">
    <title>XMR Nodes</title>
</head>
<body>
  <div class="container">
    <nav style="margin: 1rem 0;">
      <menu class="buttons">
        <li><a href="/" class="button outline">Home</a></li>
        <li><a href="/about" class="button outline">About</a></li>
        <li><a href="/find" class="button outline">Find Nodes</a></li>
        <li><a href="/map" class="button outline">Peer Map</a></li>
        <li><a href="/nodes.json" class="button outline">API</a></li>
      </menu>
    </nav>

    {% block warning %}
    <details class="m-2">
      <summary style="background-color: rgba(255, 65, 65, 0.5);">Malicious Node Advisory</summary>
      <p class="p-2">
        There has been an influx of malicious nodes hosted by chain analysis and government agencies which spy on Monero users.
        Some of them may be in this list - <strong>it's impossible to know</strong>.
        To best protect yourself from surveillance please use Tor or run your own node.
      </p>
      <p class="p-2">
        To learn more about the surveillance issue, watch this video:
        <a href="https://www.youtube.com/watch?v=WkphgF6Hn4w" target="_blank">How Monero Users Get Traced</a>
      </p>
      <p class="p-2">
        To learn more on how to mitigate the surveillance, read this page: <a href="/opsec">Opsec</a>
      </p>
      <p class="p-2">
        <strong><a href="https://github.com/lalanza808/docker-monero-node" target="_blank">TLDR: You should run your own node</a></strong>
      </p>
    </details>
    {% endblock %}

    <details style="margin-top: 8px;">
      <summary style="background-color: rgba(62, 255, 191, 0.5);">Donate</summary>
      <p class="p-2">Please consider donating to fund hosting bills, development, and ongoing maintenance.</p>
      <p class="address" class="p-2"><strong>{{ config.DONATE_ADDRESS }}</strong></p>
    </details>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer style="margin: 2rem 0 1rem 0; text-align: center;">
      <a href="#" class="button outline small">Scroll to Top</a>
    </footer>
  </div>
</body>
</html>
