<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <meta name="HandheldFriendly" content="True">
     <meta name="MobileOptimized" content="320">
     <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />

     <meta property="fb:app_id" content="0" />
     <meta property="og:image" content="https://www.getmonero.org/press-kit/symbols/monero-symbol-on-white-480.png" />
     <meta property="og:description" content="xmrnodes" />
     <meta property="og:url" content="http://localhost" />
     <meta property="og:title" content="XMR Nodes" />
     <meta property="og:type" content="website" />

     <meta name="viewport" content="width=device-width, initial-scale=1"/>
     <meta name="theme-color" content="#ffffff">
     <meta name="apple-mobile-web-app-title" content="XMR Nodes">
     <meta name="application-name" content="XMR Nodes">
     <meta name="msapplication-TileColor" content="#da532c">
     <meta name="keywords" content="wownero, monero, xmr, bitmonero, cryptocurrency">

     <link href="/static/css/normalize.css" rel="stylesheet">
     <link href="/static/css/pure.css" rel="stylesheet">
     <link href="/static/css/simple-line-icons.css" rel="stylesheet">
     <link href="/static/css/style.css" rel="stylesheet">
     <title>XMR Nodes</title>
 </head>

 <body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes pure-u-1 center">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

 <!-- Page Content -->
 {% block content %} {% endblock %}

 <!-- Footer -->
 <div id="footer" class="center">
   <a href="https://twitter.com/lza_menace" target="_blank">Holler at me</a>
   -
   <a href="https://github.com/lalanza808/monero.fail" target="_blank">Source Code</a>
   -
   <a href="{{ url_for('resources') }}">Resources</a>
 </div>

 </body>
 </html>
