{% extends 'base.html' %}

{% block content %}

<div id="resources" class="container2">
  <div>
      <h3>What Is This Site?</h3>
      <p>
        This site is just a simple list of servers powering the cryptocurrency network of <a href="https://web.getmonero.org/get-started/what-is-monero/" target="_blank">Monero</a>, a private, digital currency (cryptocurrency).
      </p>

      <h3>How Do I Use Monero?</h3>
      <p>
        In order to send and receive Monero you need to have the software installed on either your phone or computer.
        Try out these popular Monero projects:
      </p>
      <ul>
        <li><a href="https://featherwallet.org/" target="_blank">Feather (desktop)</a></li>
        <li><a href="https://www.getmonero.org/downloads/" target="_blank">Official Community Funded Monero Software (desktop)</a></li>
        <li><a href="https://cakewallet.com/" target="_blank">Cake Wallet (iOS, Android)</a></li>
        <li><a href="https://www.monerujo.io/" target="_blank">Monerujo (Android)</a></li>
        <li><a href="https://mymonero.com/" target="_blank">MyMonero (Desktop, Web)</a></li>
      </ul>

      <h3>Isn't Cryptocurrency for Criminals?</h3>
      <p>
        No, but this is a common misconception.
        Cryptocurrencies are built by and for the people of the world in an attempt
        to fill in the gaps where our existing institutions have failed us.
        There is nothing wrong with people exchanging goods and services with one another
        and transacting with whatever they believe has value; this is a human right.
      </p>

      <h3>Why Monero and not ____?</h3>
      <p>
        Monero has a long history of being open, honest, professional, and community-focused.
        It is built with first-class privacy features that protects it's users from snooping and blockchain analysis.
        The nature of most cryptocurrencies is that they use transparent ledgers,
        meaning anyone in the world can view your wallet balance and transactions;
        there is very little privacy focus.
      </p>
      <p>
        Monero is one of very few truly fungible,
        private cryptocurrencies that exist today.
      </p>

    </div>
    <div class="center">
      <a href="/" class="pure-button">Go Home</a>
    </div>
</div>

{% endblock %}
