{% extends 'base.html' %}

{% block content %}

<div id="resources" class="container2">
  <div>
      <h3>What Is This Site?</h3>
      <p>
        This site is just a simple list of servers powering the cryptocurrency network of <a href="https://web.getmonero.org/get-started/what-is-monero/" target="_blank">Monero</a>, a private, digital currency (cryptocurrency).
      </p>

      <h3>How Do I Use Monero?</h3>
      <p>
        In order to send and receive Monero you need to have the software installed on either your phone or computer.
        Try out these popular Monero projects:
      </p>
      <ul>
        <li><a href="https://featherwallet.org/" target="_blank">Feather (desktop)</a></li>
        <li><a href="https://www.getmonero.org/downloads/" target="_blank">Official Community Funded Monero Software (desktop)</a></li>
        <li><a href="https://cakewallet.com/" target="_blank">Cake Wallet (iOS, Android)</a></li>
        <li><a href="https://www.monerujo.io/" target="_blank">Monerujo (Android)</a></li>
        <li><a href="https://mymonero.com/" target="_blank">MyMonero (Desktop, Web)</a></li>
      </ul>

      <h3>How Do I Get Monero?</h3>
      <p>
        There are a few ways.
      </p>
      <p>You can buy it from an exchange such as <a href="https://kraken.com" target="_blank">Kraken</a>, <a href="https://tradeogre.com" target="_blank">TradeOgre</a>, and <a href="https://localmonero.co" target="_blank">LocalMonero</a>.
      </p>
      <p>
        You can also mine it if you have a fast enough computer. I wouldn't recommend buying a computer just for this unless you're really into that sort of thing.
      </p>
      <p>
        You can also earn it by providing some sort of service or selling goods and merchandise. There are many plugins that allow you to run a web store that accepts Monero.
      </p>

      <h3>How Do I Run My Own Node?</h3>
      <p>
        There are plenty of guides out there that explain in great detail how you can run a Monero node, so I will defer to those. This is my favorite resource to learn about setting up your own node: <a href="https://sethsimmons.me/guides/run-a-monero-node/" target="_blank">Run a Monero Node by Seth Simmons</a>
      </p>

      <h3>Isn't Cryptocurrency for Criminals?</h3>
      <p>
        No, but this is a common misconception.
        Cryptocurrencies are built by and for the people of the world in an attempt
        to fill in the gaps where our existing institutions have failed us.
        There is nothing wrong with people exchanging goods and services with one another
        and transacting with whatever they believe has value; this is a human right.
      </p>

      <h3>Why Monero and not ____?</h3>
      <p>
        Monero has a long history of being open, honest, professional, and community-focused.
        It is built with first-class privacy features that protects it's users from snooping and blockchain analysis.
        The nature of most cryptocurrencies is that they use transparent ledgers,
        meaning anyone in the world can view your wallet balance and transactions;
        there is very little privacy focus.
      </p>
      <p>
        Monero is one of very few truly fungible,
        private cryptocurrencies that exist today.
      </p>

    </div>
    <div class="center">
      <a href="/" class="pure-button">Go Home</a>
    </div>
</div>

{% endblock %}
